
.loading-container {
    font-family: sans-serif;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image:url('../img/bg.png');
}

.text {
    color: white;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.loading {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading .line-box {
    width: 40%;
    height: 20px;
}

.loading .line-box .line {
    height: 20px;
    border-radius: 20px;
    background: #67D295;
    animation:  loading 7s forwards cubic-bezier(0, 0, 0, 0);
}

@keyframes loading {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}