<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flex & Tone</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="static/css/excercise_type.css">
    
</head>
<body>


    <header>
        <div class="label"><div class="text-wrapper">Choose Exercise</div></div>
    </header>
    <main>
        <div class="side-content">
            <div class="side-title">
                <h2>Dumbblee Curl</h2>
            </div>
            <img src="static/img/dumbbel.gif" />
            <div class="button-container">
                <a href="{{ url_for('dumbble_curl_page') }}" class="restart"><strong>START</strong></a>
            </div>
        </div>

        <div class="side-content">
            <div class="side-title">
                <h2>Alternating Front Dumbbell Raise</h2>
            </div>
           
            <img src="static/img/alter_front_dumbbel.gif" />
            <div class="button-container">
                <a href="{{ url_for('front_dumbble_raise_page') }}" class="restart"><strong>START</strong></a>
            </div>
        </div>

        <div class="side-content">
            <div class="side-title">
                <h2>Dumbbell Goblet Squat</h2>
            </div>
           
            <img src="static/img/squat.gif" />
            <div class="button-container">
                <a href="{{ url_for('dumbble_squat_page') }}" class="restart"><strong>START</strong></a>
            </div>
        </div>
    </main>
</body>
</html>