<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <title>Statical</title>
    <!-- ======= Styles ====== -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="static/css/statical.css">
</head>

<body>
    <!-- =============== Navigation ================ -->
    <div class="container">
        <div class="navigation">
            <ul>
                <li>
                    <a href="{{ url_for('index') }}">
                        <span class="icon">
                            <ion-icon name="barbell-outline"></ion-icon>
                        </span>
                        <span class="title">Fitness Tracker</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="calendar-outline"></ion-icon>
                        </span>
                        <span class="title">Date</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="barbell-outline"></ion-icon>
                        </span>
                        <span class="title">Dumbble Curl</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="barbell-outline"></ion-icon>
                        </span>
                        <span class="title">Front Dumbble Raise</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="barbell-outline"></ion-icon>
                        </span>
                        <span class="title">Dumbble Squat</span>
                    </a>
                </li>
            
            </ul>
        </div>

        <!-- ========================= Main ==================== -->
        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>

                <div class="search">
                    <label>
                        <input type="text" placeholder="Search here">
                        <ion-icon name="search-outline"></ion-icon>
                    </label>
                </div>

                <div class="user">
                    <img src="static/img/user.png" alt="">
                </div>
            </div>

            <!-- ======================= Cards ================== -->
            <div class="cardBox">
                <div class="card">
                    <div>
                        <div class="numbers">{{ total_date }}</div>
                        <div class="cardName">Total day</div>
                    </div>

                    <div class="iconBx">
                        <ion-icon name="eye-outline"></ion-icon>
                    </div>
                </div>

                <div class="card">
                    <div>
                        <div class="numbers">{{ total_set }}</div>
                        <div class="cardName">Sets</div>
                    </div>

                    <div class="iconBx">
                        <ion-icon name="cart-outline"></ion-icon>
                    </div>
                </div>

                <div class="card">
                    <div>
                        <div class="numbers">{{ repectition_left }}</div>
                        <div class="cardName">Left</div>
                    </div>

                    <div class="iconBx">
                        <ion-icon name="arrow-back-circle-outline"></ion-icon>
                    </div>
                </div>

                <div class="card">
                    <div>
                        <div class="numbers">{{ repectition_right }}</div>
                        <div class="cardName">Right</div>
                    </div>

                    <div class="iconBx">
                        <ion-icon name="arrow-forward-circle-outline"></ion-icon>
                    </div>
                </div>
            </div>

            <!-- ================ Add Charts JS ================= -->
            <div class="chartsBx">
                <div class="chart"> <canvas id="chart-1"></canvas> </div>
                <div class="chart"> <canvas id="chart-2"></canvas> </div>
            </div>

            <!-- ================ Order Details List ================= -->
            <div class="details">
                <div class="recentOrders">
                    <div class="cardHeader">
                        <h2>Recent workout</h2>
                        <a href="#" class="btn">View All</a>
                    </div>

                    <table>
                        <thead>
                            <tr>
                                <td>Excercise name</td>
                                <td>Repectition left</td>
                                <td>Repectition right</td>
                                <td>Workout date</td>
                            </tr>
                        </thead>

                        <tbody>
                            {% for item in workout_recent %}
                                <tr>
                                    {% for data in item %}
                                        <td>{{ data }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>

                <!-- ================= New Customers ================ -->
                <div class="recentCustomers">
                    <div class="cardHeader">
                        <h2>Daily exercises</h2>
                        <input type="date" id="dateInput" />  
                    </div>

                    <table  id="list_set_by_date">
                        
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- =========== Scripts =========  -->

    <script>

        document.addEventListener('DOMContentLoaded', (event) => {
            const date = new Date();
            console.log(date)
            const day = String(date.getDate()).padStart(2, '0');
            const month = String(date.getMonth() + 1).padStart(2, '0'); //January is 0!
            const year = date.getFullYear();
    
            document.querySelector('#dateInput').value = `${year}-${month}-${day}`;
            setWorkoutdate(`${year}-${month}-${day}`);
        });

        document.querySelector('#dateInput').addEventListener('change', (event) => {
            setWorkoutdate(event.target.value)
        });

        function setWorkoutdate(date_workout) {
            // Add AJAX request to reset the counters to zero
            $.ajax({
                url: '/workout_date/' + date_workout, // Endpoint to reset counters
                type: 'GET',
                success: function(response) {
                    // Log success message or handle the response as needed
                    console.log('Counters reset successfully:', response);
                  
                    data = response.workout_date
                    // Clear the table
                    $('#list_set_by_date').empty();
                    $('#list_set_by_date').append(
                        '<thead>' +
                            '<tr>' +
                                '<td>Excercise name</td>' +
                                '<td>Total set</td>' +
                            '</tr>' +
                        '</thead>'
                    );
                    if (data.length == 0) return
                    // Add a new row to the table for each item in the response
                    data.forEach(function(item) {
                        $('#list_set_by_date').append(
                            '<tr>' +
                            '<td>' + item[1] + '</td>' +
                            '<td>' + item[2] + '</td>' +
                            '</tr>'
                        );
                    });

                },
                error: function(xhr, status, error) {
                    console.error('Error resetting counters:', error);
                }
            });
        }
    </script>
    <script>
        // add hovered class to selected list item
        let list = document.querySelectorAll(".navigation li");

        function activeLink() {
        list.forEach((item) => {
            item.classList.remove("hovered");
        });
        this.classList.add("hovered");
        }

        list.forEach((item) => item.addEventListener("mouseover", activeLink));

        // Menu Toggle
        let toggle = document.querySelector(".toggle");
        let navigation = document.querySelector(".navigation");
        let main = document.querySelector(".main");

        toggle.onclick = function () {
        navigation.classList.toggle("active");
        main.classList.toggle("active");
        };


    </script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
    <script>
           
            const ctx1 = document.getElementById("chart-1").getContext("2d");
            const myChart = new Chart(ctx1, {
            type: "pie",
            data: {
                labels: {{ exercise_names|tojson|safe }},
                datasets: [
                {
                    data:  {{ set_counts|tojson|safe }},
                    backgroundColor: [
                    "rgba(54, 162, 235, 1)",
                    "rgba(255, 99, 132, 1)",
                    "rgba(255, 206, 86, 1)",
                    ],
                },
                ],
            },
            options: {
                title: {
                    display: true,
                    text: "Exercise Set Counts"
                },
                responsive: true,
            },
            });
            
            let workout_date = {{ workout_date|tojson|safe }};
            let total_set_day = {{ total_set_day|tojson|safe }};

           
            const ctx2 = document.getElementById("chart-2").getContext("2d");
            const myChart2 = new Chart(ctx2, {
                type: "line",
                data: {
                  labels: workout_date,
                  datasets: [{
                    label: "Total Set Per Day",
                    backgroundColor:"rgba(0,0,255,1.0)",
                    borderColor: "rgba(0,0,255,0.1)",
                    data: total_set_day
                  }]
                },
                options:{
                    legend: { display: false },
                    title: {
                        display: true,
                        text: "Total Set Per Day"
                    },
                }
              });
        </script>

    <!-- ====== ionicons ======= -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>